.dark-content {
  background-color: #111111!important;
}
#map { position:absolute; top:0; bottom:0; width:100%; height:100%; }

.marginLittle {
  margin: 4px;
  padding: 0px;
}

.marginCard {
  margin: 12px;
  padding: 0px;
}

.center-text{
  text-align: center;
}

.redText {
  color: #D50000;
}

.whiteText {
  color: #FFFFFF;
}

.venga {
  width: 210px;
}

.redBar {
  .bar {
    background-color: #D50000 !important;
  }
}

.greenBar {
  .bar {
    background-color: #2E7D32 !important;
  }
}

.borderRadius {
  border-radius: 50;
  width: 60px;
  height: 60px;
}
