doctype html
div(layout='vertical', layout-fill)
  section(layout='horizontal', flex)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='vertical')
      md-content.dark-content
        div.marginCard(layout='vertical', layout-align="center center")
          img.borderRadius(ng-src = '/images/ic_login.png')
          h3.marginLittle BIKINGOS
          
      md-content.dark-content(flex)
        md-item-content(ng-repeat = "user in users | orderBy:'experience':true" )
          div.marginCard(layout='row')
            img.borderRadius(ng-src = '{{user.avatar}}')
            p &nbsp
            div(layout='vertical')
              h4.marginLittle.whiteText(
                ng-bind = '"   " + user.username ' 
              )
              md-progress-linear.venga(
                md-mode='determinate', 
                value='{{user.experience * 100 / user.nextLevel}}',
                ng-class = '{"greenBar": user.team === "green", "redBar": user.team === "red" }'
              )
              h5.marginLittle( ng-bind = '"Nv:" + user.level + "   Exp " + user.experience ')
    md-content(flex)
      #map
        
