doctype html
div(layout='vertical', layout-fill)
  section(layout='horizontal', flex)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='vertical')
      md-toolbar.md-theme-green.headerSlideMenu
        h3.md-toolbar-tools.kraken-background Bearded Avenger
        md-tabs(selected = 'selectedIndex')
          md-tab.md-theme-red(
            label = 'Perfil de usuario'
          )
      md-content.dark-content(flex)
          h1 HOLA SOY TU PERFIL
    md-content(flex)
      #map
      script.
        var map = L.mapbox.map('map', 'chemonky.ld4l0ah8').setView([-37.87, 175.475], 12);
        var heat = L.heatLayer(addressPoints,{radius: 25}).addTo(map);
