doctype html
div(layout='vertical', layout-fill)
  section(layout='horizontal', flex)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='vertical')
      md-toolbar.md-theme-green.headerSlideMenu
        h3.md-toolbar-tools.kraken-background Bearded Avenger
        md-tabs(selected = 'selectedIndex')
          md-tab.md-theme-red(
            label = 'Perfil de usuario'
          )
      md-content.dark-content(flex)
          h1 HOLA SOY TU PERFIL
    md-content(flex)
      #map
      script.
        var map = L.map('map').setView([ 40.706, -73.926], 14);
        L.esri.basemapLayer('Gray').addTo(map);
        L.esri.heatmapFeatureLayer('http://services.arcgis.com/rOo16HdIMeOBI4Mb/ArcGIS/rest/services/Graffiti_Reports/FeatureServer/0', {
        radius: 12
        }).addTo(map);
