doctype html5
html(ng-app = 'bearded-avenger')
  head
    
    title Points as a heatmap
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    style.
      #map { width: 800px; height: 600px; }
      body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
      .ghbtns { position: relative; top: 4px; margin-left: 5px; }
      a { color:#0077ff; }
    link(
      href = '/css/app.css'
      rel = 'stylesheet'
    )
    link(
      href='/vendor/angular-material/angular-material.css'
      rel='stylesheet'
    )
  body
    div( ng-view )

  script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js')
  script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js')
  script.
    L.mapbox.accessToken = 'pk.eyJ1IjoiY2hlbW9ua3kiLCJhIjoiOW5sdmxNUSJ9.ZMJvjLpSnx_jadjAk3ir2A';
  script( src = '/js/app.min.js' )
