/* Put your styles here */

@font-face {
  font-family: "roboto";
  src: url(http://fonts.googleapis.com/css?family=Roboto:500);
  font-weight:400;
}

body {
  font-family: "roboto"
}

.kraken-background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.headerSlideMenu {
  min-height: 112px;
}

.cardsLu {
  margin: 4px;
  padding: 0px;
}

#fixedbutton {
  position: fixed;
  bottom:   16px;
  right:    16px;
  z-index:  30;
}
